body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.menu {
    background-color: #1b1b1b;
    padding: 10px;
}

.menu .menu-links {
    list-style: none;
    display: flex;
}

.menu .menu-links a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: white;
}